// Place all the styles related to the Units controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #E6EBED;
  color: #555;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-shadow:1px 1px 0 #fff;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #85B2CB;
  text-decoration:none;

  &:visited {
    color: #85B2CB;
  }
  &:hover {
    color: #B9E0F5;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

h1 {
  font-size: 47px;
  font-weight: normal;
  color:#d0d8db;
  margin-left: 3px;

  em {
    font-weight:bold;
    color:#d0d8db;
    font-style:normal;
  }
}

#container {
  width:1000px;
  margin:60px auto;
  position:relative;
}

#filters {
  width: 875px;
  padding:0 0 26px;
  list-style:none;
  float: left;
  padding:0 20px;
  margin:10px 0 30px;
  position:relative;
  border:1px solid #ddd;
  border-bottom: 1px solid #bbb;
  border-radius: 4px;
  background: #efefef;
  background: -webkit-linear-gradient(#fff, #e6e6e6);
  background: -moz-linear-gradient(#efefef, #d3d3d3);
  background: -ms-linear-gradient(#efefef, #d3d3d3);
  background: -o-linear-gradient(#efefef, #d3d3d3);
  background: linear-gradient(#efefef, #d3d3d3);

  h3 {
    clear:both;
    margin-bottom:8px;
    font-weight: normal;

    i {
      color:#ccc;
    }
  }
}

.filters {
  padding:0;
  margin:0;
  list-style:none;
  clear:both;

  li {
    float:left;
    margin-right:4px;
    font-size:13px;
  }

  label {
    cursor:pointer;
    position: relative;
    top: 2px;
  }
}

.attributes {
  padding-bottom:18px;
}

.sqft {
  padding-bottom:23px;
}

.sqft {
  padding-bottom:42px;
}

#clear_filters {
  text-shadow:-1px -1px 0 #fff;
  color:#666;
  clear:both;
  cursor:pointer;
  position:absolute;
  top:20px;
  right:20px;
  padding: 8px 15px;
  border-radius: 5px;
  border:1px solid #ccc;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  background: #efefef;
  background: -webkit-linear-gradient(#fff, #e6e6e6);
  background: -moz-linear-gradient(#efefef, #d3d3d3);
  background: -ms-linear-gradient(#efefef, #d3d3d3);
  background: -o-linear-gradient(#efefef, #d3d3d3);
  background: linear-gradient(#efefef, #d3d3d3);
}

#clear_filters {
  clear:both;
  cursor:pointer;
  position:absolute;
  top:20px;
  right:20px;
  padding: 8px 15px;
  border-radius: 5px;
  border:1px solid #ccc;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  background: -moz-linear-gradient(#B9E0F5, #85B2CB);
  background: -ms-linear-gradient(#B9E0F5, #85B2CB);
  background: -o-linear-gradient(#B9E0F5, #85B2CB);
  background: -webkit-linear-gradient(#B9E0F5, #85B2CB);
  background: linear-gradient(#B9E0F5, #85B2CB);
  border:1px solid #85B2CB;
  border-bottom:1px solid #85B2CB;
  color:#fff;
  text-shadow:-1px -1px 0 #85B2CB;
}

a.new_unit {
  text-shadow:-1px -1px 0 #fff;
  color:#666;
  clear:both;
  padding: 3px 11px;
  border-radius: 5px;
  border:1px solid #ccc;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  background: #efefef;
  background: -webkit-linear-gradient(#fff, #e6e6e6);
  background: -moz-linear-gradient(#efefef, #d3d3d3);
  background: -ms-linear-gradient(#efefef, #d3d3d3);
  background: -o-linear-gradient(#efefef, #d3d3d3);
  background: linear-gradient(#efefef, #d3d3d3);
}



#clear_filters:hover {
  background:#85B2CB;
  border:1px solid #85B2CB;
  border-bottom:1px solid #85B2CB;
  color:#fff;
  text-shadow:-1px -1px 0 #6994aa;
}

body .ui-widget-header {
  background: -moz-linear-gradient(#B9E0F5, #85B2CB);
  background: -ms-linear-gradient(#B9E0F5, #85B2CB);
  background: -o-linear-gradient(#B9E0F5, #85B2CB);
  background: -webkit-linear-gradient(#B9E0F5, #85B2CB);
  background: linear-gradient(#B9E0F5, #85B2CB);
  border:1px solid #85B2CB;
  border-bottom:1px solid #85B2CB;
  background:#222;

  background: -moz-linear-gradient(#444, #222);
  background: -ms-linear-gradient(#444, #222);
  background: -o-linear-gradient(#444, #222);
  background: -webkit-linear-gradient(#444, #222);
  background: linear-gradient(#444, #222);
  border:1px solid #222;
}

body .ui-tabs .ui-tabs-nav {
  margin: 0;
  padding:0.7em .7em 0;
}

body .ui-state-default, body .ui-widget-content .ui-state-default, body .ui-widget-header .ui-state-default {
  border: none;
  background: #888;
  background-image:none;
  font-weight: normal/*{fwDefault}*/;
  color: #555/*{fcDefault}*/;
  text-shadow:1px 1px 0 #999;
}

body .ui-state-active, body .ui-widget-content .ui-state-active, body .ui-widget-header .ui-state-active {
  border: none;
  background: white/*{bgColorActive}*/ url(images/ui-bg_glass_65_ffffff_1x400.png)/*{bgImgUrlActive}*/ 50%/*{bgActiveXPos}*/ 50%/*{bgActiveYPos}*/ repeat-x/*{bgActiveRepeat}*/;
  font-weight: normal/*{fwDefault}*/;
  color: #212121/*{fcActive}*/;
  text-shadow:none;
}

body .ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 1px;
  margin: 1px .2em 0 0;
  border-bottom: 0;
  padding: 0;
  white-space: nowrap;
}

body .ui-tabs-nav {
  -moz-border-radius-bottomright: 0/*{cornerRadius}*/;
  -webkit-border-bottom-right-radius: 0/*{cornerRadius}*/;
  -khtml-border-bottom-right-radius: 0/*{cornerRadius}*/;
  border-bottom-right-radius: 0/*{cornerRadius}*/;
  -moz-border-radius-bottomleft: 0/*{cornerRadius}*/;
  -webkit-border-bottom-left-radius: 0/*{cornerRadius}*/;
  -khtml-border-bottom-left-radius: 0/*{cornerRadius}*/;
  border-bottom-left-radius: 0/*{cornerRadius}*/;
}

.units-table {
  clear:both;
  background:#fff;
  border-radius: 4px;
}

#tabs {
  padding-bottom:30px;
  -moz-box-shadow:    0 0 4px 4px #DADEE0;
  -webkit-box-shadow: 0 0 4px 4px #DADEE0;
  box-shadow:         0 0 4px 4px #DADEE0;
  position:relative;
  z-index:100;
}

.ui-tabs-nav li a {
  outline:0;
}

#side {
  border-radius: 5px;
  position:absolute;
  z-index:50;
  width:200px;
  background:#ffffff;
  border:1px solid #ccc;
  height: 620px;
  top: 107px;
  left: -193px;
}

table.dataTable thead th {
  font-weight:normal;
}

body .ui-widget input {
  border:1px solid #ddd;
  border-radius: 5px;
  padding: 3px 5px;
  min-width:200px;
}

body .ui-widget-content {
  color: #333/*{fcContent}*/;
}

body .dataTables_info {
  color:#aaa;
  font-size: 12px;
}

body .dataTables_paginate {
  /*display:none;*/
  color:#aaa;
  font-size: 12px;
}

body .ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 1.8em 2.6em;
  background: none;
}

body div.radio {
  margin-right: 4px;
}

input.text, input.email, input.password, textarea.uniform {
  font-size: 12px;
  font-weight: normal;
  padding: 3px;
  color: #777;
  background: url('bg-input-focus.png') repeat-x 0px 0px;
  background: url('bg-input.png') repeat-x 0px 0px white;
  border-top: solid 1px #AAA;
  border-left: solid 1px #AAA;
  border-bottom: solid 1px #CCC;
  border-right: solid 1px #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
  padding:8px 10px;
  min-width:330px;
}

#DataTables_Table_0_length,
#DataTables_Table_0_filter,
#DataTables_Table_0_info,
#DataTables_Table_0_paginate { /*display:none;*/ }

/*.sorting_1,
table.dataTable tr.even td.sorting_1 {
  background:inherit;
}

.odd {
  color: #8584B2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3E3E4F), color-stop(50%, #3D3D4D), color-stop(50%, #383949), color-stop(100%, #373747));
  background-image: -webkit-linear-gradient(top, #3E3E4F,#3D3D4D 50%,#383949 50%,#373747);
  background-image: -moz-linear-gradient(top, #3E3E4F,#3D3D4D 50%,#383949 50%,#373747);
  background-image: -o-linear-gradient(top, #3E3E4F,#3D3D4D 50%,#383949 50%,#373747);
  background-image: -ms-linear-gradient(top, #3E3E4F,#3D3D4D 50%,#383949 50%,#373747);
  background-image: linear-gradient(top, #3E3E4F,#3D3D4D 50%,#383949 50%,#373747);
}

table.dataTable tr.even {
  background:#282936;
  color: #8584B2;
}*/

/*
 * Sorting
 */
table.dataTable thead th.sorting {
  background: image-url("sort_both.png") no-repeat center right;
}
table.dataTable thead th.sorting_asc { background: image-url('sort_asc.png') no-repeat center right; }
table.dataTable thead th.sorting_desc { background: image-url('sort_desc.png') no-repeat center right; }

table.dataTable thead th.sorting_asc_disabled { background: image-url('sort_asc_disabled.png') no-repeat center right; }
table.dataTable thead th.sorting_desc_disabled { background: image-url('sort_desc_disabled.png') no-repeat center right; }

table.dataTable thead th:active,
table.dataTable thead td:active {
  outline: none;
}

